@background-color: white;
@title-font-color: orangeRed;
@title-font-size: 25px;
@sentence-font-color: #333;
@sentence-font-size: 14px;
@title-font-weight: bold;
@link-font-color: #ffb499;
@date-font-color: #ccc;
@date-font-size: 17px;
@date-font-weight: normal;
@font: Helvetica, arial, freesans, clean, sans-serif;
@width: 850px;
@content-width: 550px;

body {
    color: red;
    font-family: @font;
    margin: 0;
    padding: 0;
    background-color: @background-color;
}

.clear {
    clear: both;
    height: 1px;
}

a {
    color: @link-font-color;
    text-decoration: none;
    img {
        border: none;
    }
}

a:hover {
    text-decoration: underline;
}

// structure of overview
#wrapper {
    width: @width;
    margin: 0 auto;
    #content {
        width: @content-width;
        float: left;
        .post {
            // common settings for each post
            margin-bottom: 26px;
            .copy {
                p {
                    color: @title-font-color;
                    font-size: @title-font-size;
                }
                color: @sentence-font-color;
                padding: 0px;
                font-size: 14px;
                line-height: 20px;
            }
            .title a {
                color: @title-font-color;
                font-size:  @title-font-size;
                font-weight: @title-font-weight;
            }
            .date {
                color: @date-font-color;
                font-size: @date-font-size;
                font-weight: @date-font-weight;
                text-align: right;
            }
            .text-body {
                color: @sentence-font-color;
                font-size:@sentence-font-size;
                margine-top: 14px;
                line-height: 20px;
                text-align: -webkit-auto;
            }
            .link {
                color: @title-font-color;
                font-size: @title-font-size;
            }
            // quote
            .quotebg {
                font-family: georgia, serif;
                font-size: 150px;
                color: orangeRed;
                opacity: 0.2;
                filter: alpha(opacity=20);
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
            }
            .quote {
                font-size: 20px;
                padding: 20px 20px 0px 0px;
            }
            
        }
    }
    #sidebar {
        width: 250px;
        float: right;
        color: black;
    }
}
